extends layout
include ../../mixins
include mixins

block content
  ul.nav.nav-tabs
    +tab('quiz', 'Quiz', true)
    +tab('questions', 'Questions')

  br
  .tab-content
    +tab_pane('quiz', true)
      form(method="post", action="/admin/quizzes/#{quiz.id}")
        input(type="hidden", name="_method", value="put")
        include _form
        button.btn.btn-primary.btn-lg(type="submit") Modifier le quiz

    +tab_pane('questions')
      p
        a.btn.btn-primary(href="questions/new")
          +icon('plus')
          &nbsp;
          | Ajouter une question

      if questions.length
        table.table.table-striped.sortable(data-remote-url="/admin/quizzes/#{quiz.id}/reorder")
          thead
            tr
              th Question
              th
          tbody
            each question in questions
              tr(data-id=question.id)
                td
                  +icon(question.visible ? 'eye-open' : 'eye-close', 'text-muted')
                  &nbsp;
                  a(href="/admin/quizzes/#{quiz.id}/questions/#{question.id}/edit")
                    +icon('pencil')
                    &nbsp;
                    = question.title
                    span.text-muted  (#{question.duration}s)
                td
                  form(method="post", action="/admin/quizzes/#{quiz.id}/questions/#{question.id}")
                    input(type="hidden", name="_method", value="delete")
                    button.btn.btn-danger.btn-xs(type="submit")
                      +icon('trash')
                      &nbsp;
                      | Supprimer
