extends layout
include ../../mixins
include mixins

block content
  p
    a.btn.btn-lg.btn-primary(href="/admin/quizzes/new")
      +icon('plus')
      &nbsp;
      | Créer un quiz
    &nbsp;
    a.btn.btn-lg.btn-default(href="/admin/quizzes/reset-users")
      +icon('trash')
      &nbsp;
      | Purger la liste des joueurs

  if quizzes.length
    table.table.table-striped
      thead
        tr
          th Quiz
          th Difficulté
          th Ordre
          th Questions
          th
      tbody
        each quiz in quizzes
          tr
            td
              +icon(quiz.visible ? 'eye-open' : 'eye-close', 'text-muted')
              &nbsp;
              a(href="/admin/quizzes/#{quiz.id}/edit")
                +icon('pencil')
                &nbsp;
                = quiz.title
              if quiz.description
                br
                small.text-muted= quiz.description
            td
              +starred_level(quiz)
            td
              +running_mode(quiz)
            td
              = counters[quiz.id] || 0
              &nbsp;
              if quiz.isCurrent()
                p.start-notice.text-muted(style=(quiz.isStarted() ? '' : 'display: none')) Le quiz est en cours&hellip;
                form(method="post", action="/admin/quizzes/#{quiz.id}/start", style="display: inline", 'data-action'="start")
                  input(type="hidden", name="_csrf", value=csrfToken)
                  input(type="hidden", name="_method", value="put")
                  button.btn.btn-success.btn-xs(type="submit")
                    +icon('flash')
                    |  (Re)démarrer !
                  #currentPlayers.text-muted= engine.playerCount
              else if counters[quiz.id] > 0
                form(method="post", action="/admin/quizzes/#{quiz.id}/init", style="display: inline")
                  input(type="hidden", name="_csrf", value=csrfToken)
                  input(type="hidden", name="_method", value="put")
                  button.btn.btn-success.btn-xs(type="submit")
                    +icon('ok')
                    |  Activer
            td
              form(method="post", action="/admin/quizzes/#{quiz.id}")
                input(type="hidden", name="_csrf", value=csrfToken)
                input(type="hidden", name="_method", value="delete")
                button.btn.btn-danger.btn-xs(type="submit")
                  +icon('trash')
                  &nbsp;
                  | Supprimer

    ul#currentAnswers.list-unstyled
    #countDown(style="display: none")
    #feedback
